::after {
    color: #CCC;
}
p, h1 
{
    margin: 0px 10px 10px 10px;
}
h1 
{
    background-color: transparent; 
    font-size: 32px;
    font-weight: bold;
    padding-top: 10px;
    color: black;
    text-align: center;
}
h2 {
    color: white;
}
a {
    color: #0000d0;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.form-control
{
    width: 60%;
}
.topnav 
{
    /* overflow: hidden; */
    background-color: black;
    min-width: 100%;
}
  
.topnav a 
{
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover 
{
    background-color: #ddd;
    color: black;
}
  
.topnav a.active 
{
    background-color: #4CAF50;
    color: white;
}



#data-body{
    background-color: whitesmoke;
    min-height: 100%;
    min-width: 100%;
}


#banner h1 
{
    font-size: 18px;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    text-align: center;
}

/* Table Designs */

/* Top 10 table designs */
table
{
    width: 80%;
    margin: auto;
}
td 
{
    background-color: #cccccc;
    border: 1px #000 solid;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-align: center;
    vertical-align: top;  
}
/* Movies Table for searched movies page */
#movies, #usersTable
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th 
{
border: 1px solid #ddd;
padding: 8px;
}
tr:nth-child(even)
{
    background-color: #f2f2f2;
}
tr:hover 
{
    background-color: #ddd;
}
th 
{
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #00884b;
color: white;
}
#resulttable 
{
    width: 150px;
    border: 1px #000 solid;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 15px ;
}
#data-footer 
{
    position:fixed;
    bottom:0px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width:100%;
    height:20px;
    background-color: #333;
    color: white;
}
#banner /* the heading of the page */ 
{
    background-color: #fff;
    color: #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    height: 39px;
}
#menu /* the horizontal menu underneath the banner */ 
{
    margin: 0px;
    padding: 0px;
    line-height: 100%;
    background-color: #d0caca;
    color: #000;
    top: 50px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    height: 25px;
}
#form-group
{
    width: 80%;
    padding: 12px 20px;
    margin: 15px ;
}
#data-chart 
{
    position: center;
    left: 30px;
}
#data-nav-bar a
{
    background: #333;
   
}